// Twilio Colors
$red: (
);

$twilioMaroon: (
  "base": #971d1f,
);

$twilioGray: (
    "base": #2c2c2a,
);

$twilioBlack: (
    "base": #231f20,
);

$twilioBrown: (
    "base": #b1aca0,
);

$twilioBeige: (
    "base": #dbddd7,
);

$twilioBlue: (
    "base": #54c3c2,
);

// Theme colors
$colors: (
    "materialize-red": $twilioRed,
    "red": $twilioRed,
    "blue": $twilioBlue,
    "grey": $twilioGray,
) !default;
