{% extends "base.html" %}

{% block title %}Call Your Family - Boston Marathon{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css"
    href="http://static1.twilio.com/packages/base.css"/>
<link rel="stylesheet" type="text/css"
    href="/static/styles/index.css" />
<script type="text/javascript" 
    src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
<script type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
 
      Twilio.Device.setup("{{ token }}");
 
      Twilio.Device.ready(function (device) {
        $("#action").text("Call");
        $("#action").unbind();
        $("#action").click(function () {
            call();
        });
      });
 
      Twilio.Device.error(function (error) {
        $("#message").text("Error: " + error.message);
      });
 
      Twilio.Device.connect(function (conn) {
        $("#message").text("Call established.");
        $("#action").unbind();
        $("#action").click(hangup());
        $("#action").text("Hangup");
      });
 
      Twilio.Device.disconnect(function (conn) {
        $("#message").text("Call ended.");
        $("#action").unbind();
        $("#action").click(call());
        $("#action").text("Call");
      });
 
      function call() {
        // get the phone number to connect the call to
        params = {"PhoneNumber": $("#number").val()};
        Twilio.Device.connect(params);
      }
 
      function hangup() {
        Twilio.Device.disconnectAll();
      }
</script>
{% endblock %}

{% block content %}
<div id="container">
    <header>
        <div id="header">
        {% if params['config_errors'] %}
            <h1 class="section-heading">Almost There!</h1>
        {% else %}
            <h1 class="section-heading">Call Your Family</h1>
        {% endif %}
        </div>
    </header>
    <section>
        <div id="content">
        {% if params['config_errors'] %}
            <h2 id="message" class="section-heading">We just need to set a few more
                configuration options.</h2>
            <p class="blurb">Check your local_settings.py to set these missing
                options:</p>
            <dl id="url_list">
                {% for error in params['config_errors'] %}
                <dt>Error</dt>
                <dd>{{ error }}</dd>
                {% endfor %}
            </dl>
        {% else %}
            <h2 class="section-heading">If you're in Boston without phone
                service, use this website to call your family.</h2>

            <div id="call-controls">    
                <button class="button" id="action">Loading</button>
                <input type="text" id="number" name="number"
                placeholder="xxx-xxx-xxxx" />
            </div>

            <p class="blurb">Here's how to use this:</p>

            <ol id="url_list">
                <li>Put a phone number in the input box on the right.</li>
                <li>Click call.</li>
                <li>Click "Allow" on the permissions dialog that follows.</li>
                <li>Speak into the microphone on your laptop or desktop to talk
                with your family for up to ten minutes.</li>
           </ol>
        {% endif %}
        </div>
    </section>
    <footer>
        <p class="footer">
            Calls are free for you and for the party you call.  Calls last ten
            minutes.  Service will be available as long as phone coverage is
            poor in Boston.
        </p>
        <p class="footer">
            Source on <a
                href="https://github.com/RobSpectre/Call-Your-Family">Github</a>.
            Released under <a
                href="http://www.opensource.org/licenses/mit-license.html">
                MIT license</a>.
            Lovingly crafted by <a id="twiliocon-2011-link" 
                href="http://www.meetup.com/Twilio/New-York-NY/">
                Twilio New York</a>.
        </p>
    </footer>
</div>
{% endblock %}
