{% extends "base.html" %}

{% block title %}Mobile App Distribution Using Twilio{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css"
    href="http://static1.twilio.com/packages/base.css"/>
<link rel="stylesheet" type="text/css"
    href="http://static0.twilio.com/packages/buttons.css" />
<link rel="stylesheet" type="text/css"
    href="/static/styles/index.css" />
{% endblock %}

{% block content %}
<div id="container">
    <header>
        <div id="header">
        {% if params['config_errors'] %}
            <h1 class="section-heading">Almost There!</h1>
        {% else %}
            <h1 class="section-heading">Oh Snap!</h1>
        {% endif %}
        </div>
    </header>
    <section>
        <div id="content">
        {% if params['config_errors'] %}
            <h2 class="section-heading">We just need to set a few more
                configuration options.</h2>
            <p class="blurb">Check your local_settings.py to set these missing
                options:</p>
            <dl id="url_list">
                {% for error in params['config_errors'] %}
                <dt>Error</dt>
                <dd>{{ error }}</dd>
                {% endfor %}
            </dl>
        {% else %}
            <h2 class="section-heading">You're about to use Mobile App
                Distribution using Twilio.</h2>
            <p class="blurb">Here are a few important links with this example
                app:</p>
            <form id="form" method="POST" action="/">
                {% if form.phone_number.errors %}
                    {% for error in form.phone_number.errors %}
                        <ul class="errors"><li>{{ error }}</li></ul>
                    {% endfor %}
                {% else %}
                    <div id="phone_number_label">{{ form.phone_number.label }}</div>
                {% endif %}
                <div id="phone_number">{{ form.phone_number }}</div>
                <input type="submit" value="Send Invite" class="button" />
            </form>
            <dl id="url_list">
                <dt>Invite URI to be shortened</dt>
                <dd><a href="{{ params['invite_uri'] }}">
                    {{ params['invite_uri'] }}</a></dd>
                <dt>SMS Request URL for your Twilio Number</dt>
                <dd><a href="{{ params['sms_request_url'] }}">
                    {{ params['sms_request_url'] }}</a></dd>
           </dl>
        {% endif %}
        </div>
    </section>
    <footer>
        <p class="footer">
            Source on <a
                href="https://github.com/RobSpectre/Mobile-App-Distribution-with-SMS">Github</a>.
            Released under <a
                href="http://www.opensource.org/licenses/mit-license.html">
                MIT license</a>.
            Lovingly crafted by <a id="twiliocon-2011-link" 
                href="http://www.meetup.com/Twilio/New-York-NY/">
                Twilio New York</a>.
        </p>
    </footer>
</div>
{% endblock %}
