{% extends "base.html" %}

{% block title %}Call Your Family - Nepal Earthquake{% endblock %}

{% block head %}
<script type="text/javascript" 
    src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
<link rel="stylesheet" href="static/components/intl-tel-input/build/css/intlTelInput.css">
{% endblock %}

{% block content %}
  <nav class="red" role="navigation">
    <div class="nav-wrapper container"><a href="/" class="brand-logo"><img src="static/images/twilio_logo_white_73x22.png" /></a>
      <ul class="right hide-on-med-and-down">
        <li>Free Calls for Survivors of Nepalese Earthquake</li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li>Free Calls for Survivors of Nepalese Earthquake</li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      {% if params['config_errors'] %}
      <h1 class="header center red-text">Configuration Error!</h1>
      {% else %}
      <h1 class="header center red-text">Call Your Family</h1>
      {% endif %}
      <div class="row center">
        <h5 class="header col s12 light">Free 10 minute call to a loved one affected by the Nepalese earthquake.</h5>
      </div>
      <br><br>
    </div>
    <div class="container">
      <div class="row" style="margin-top: -2em;">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-red-text"><i class="mdi-action-favorite-outline"></i></h2>
            {% if params['config_errors'] %}
            <h5 class="center">There was an error configuring this app.</h5>
            {% for error in params['config_errors'] %}
            <p class="light">{{ error }}</p>
            {% endfor %}
            {% else %}
            <h5 class="center">Powered By Twilio</h5>
            <p class="light">1. Select the country you wish to call.</p>
            <p class="light">2. Input the number.</p>
            <p class="light">3. Press Call button.</p>
            <p class="light">4. Click "Allow" in your browser or dialog.</p>
            <p class="light">5. Talk through your browser for ten minutes.</p>
            {% endif %}
          </div>
        </div>
        <div class="col s12 m8">
          <div class="icon-block" style="padding-top: 6em;">
            <h2 class="center light-red-text"><i class="mdi-action-favorite-outline-on"></i></h2>
            {% if not params['config_errors'] %}
            <blockquote>Input the phone number to call below:</blockquote>
            <div id="call-controls">    
                <button class="waves-effect waves-light blue btn mdi-notification-do-not-disturb" id="action">  Loading</button>
                <input type="tel" id="number" name="number"
                placeholder="Input number here" />
                <span id="valid-msg" class="hide">✓ Valid</span>
                <span id="error-msg" class="hide">Invalid number</span>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="page-footer grey">
    <div class="container">
        <div class="col l6 s12">
            <h5 class="white-text">Powered by <a class="blue-text" href="http://twilio.org">Twilio.org</a></h5>
            <p class="white-text text-darken-4">Calls are free for you and the party you call. Calls last ten minutes.</p>
        </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Powered by <a class="materialize-grey-text text-lighten-3" href="http://twilio.org">twilio.org</a>.  
        Released under <a
            href="http://www.opensource.org/licenses/mit-license.html">
            MIT license</a>.  
        Lovingly crafted by <a 
            href="https://www.twilio.com/">
            Twilio</a>.  
      </div>
    </div>
  </footer>
  <div id="callbox" class="modal">
    <div class="modal-content">
        <h4>Calling...</h4>
        <p>Click "Allow" to authorize the browser's use of your microphone.</p>
        <p>Make sure your microphone is turned on.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat mdi-communication-call-end">  Hangup</a>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript"
    src="static/components/intl-tel-input/build/js/intlTelInput.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
      var telInput = $("#number"), errorMsg = $("#error-msg"), validMsg = $("#valid-msg");
      telInput.intlTelInput({
        defaultCountry: "np",
        utilsScript: "static/components/intl-tel-input/lib/libphonenumber/build/utils.js"
      });
      // on blur: validate
      telInput.blur(function() {
        if ($.trim(telInput.val())) {
          if (telInput.intlTelInput("isValidNumber")) {
            validMsg.removeClass("hide");
          } else {
            telInput.addClass("error");
            errorMsg.removeClass("hide");
            validMsg.addClass("hide");
          }
        }
      });

      // on keydown: reset
      telInput.keydown(function() {
        telInput.removeClass("error");
        errorMsg.addClass("hide");
        validMsg.addClass("hide");
      });

      Twilio.Device.setup("{{ params.token }}");

      Twilio.Device.ready(function (device) {
        $("#action").removeClass("mdi-notification-do-not-disturb");
        $("#action").addClass("mdi-communication-call");
        $("#action").text("  Call");
        $("#action").unbind();
        $("#action").click(function () {
            call();
        });
      });
 
      Twilio.Device.error(function (error) {
        $("#message").text("Error: " + error.message);
      });
 
      Twilio.Device.connect(function (conn) {
        $("#message").text("Call established.");
        $("#action").unbind();
        $("#action").click(function() {
            hangup()
        });
        $("#action").removeClass("mdi-communication-call");
        $("#action").addClass("mdi-communication-call-end");
        $("#action").text("  Hangup");
        $("#callbox").openModal({complete: function() {hangup();}});
      });
 
      Twilio.Device.disconnect(function (conn) {
        $("#message").text("Call ended.");
        $("#action").unbind();
        $("#action").click(function() {
            call();
        });
        $("#action").removeClass("mdi-communication-call-end");
        $("#action").addClass("mdi-communication-call");
        $("#action").text("  Call");
      });
    });
 
    function call() {
      ga('send', 'event', 'Button', 'Click', 'Call');
      if ($("#number").intlTelInput("isValidNumber")) {
          Materialize.toast('Click "Allow" to use your microphone.', 4000);
          var number = $("#number").intlTelInput("getNumber");
          params = {"PhoneNumber": number};
          Twilio.Device.connect(params);
      } else {
        alert("Please input a valid number first.");
      }
    }

    function hangup() {
      ga('send', 'event', 'Button', 'Click', 'Hangup');
      Twilio.Device.disconnectAll();
    }
</script>
{% endblock %}
