{% extends "base.html" %}

{% block title %}Success! - Mobile App Distribution Using Twilio{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css"
    href="http://static1.twilio.com/packages/base.css"/>
<link rel="stylesheet" type="text/css"
    href="http://static0.twilio.com/packages/buttons.css" />
<link rel="stylesheet" type="text/css"
    href="/static/styles/index.css" />
{% endblock %}

{% block content %}
<div id="container">
    <header>
        <div id="header">
            <h1 class="section-heading">Success!</h1>
        </div>
    </header>
    <section>
        <div id="content">
            <h2 class="section-heading">We just sent an example invite to:
                {{ params['phone_number'] }}</h2>
            <p class="blurb">To learn more about using Twilio for mobile app distribution, <a href="http://www.twilio.com/solutions/mobileappdistribution">click here</a>.</p>
        </div>
    </section>
    <footer>
        <p class="footer">
            Source on <a
                href="https://github.com/RobSpectre/Mobile-App-Distribution-with-SMS">Github</a>.
            Released under <a
                href="http://www.opensource.org/licenses/mit-license.html">
                MIT license</a>.
            Lovingly crafted by <a id="twiliocon-2011-link" 
                href="http://www.meetup.com/Twilio/New-York-NY/">
                Twilio New York</a>.
        </p>
    </footer>
</div>
{% endblock %}
