body, html {
    background: #ca2a22;
}

#container {
    height: 800px;
}

#header {
    width: 960px;
    margin: 0 auto;
    padding: 100px 0 0 0;
}

#header .section-heading {
    line-height: 68px;
    margin: 0;
    padding: 0 0 0 233px;
    font-family: 'Helvetica',sans-serif;
    font-size: 52px;
    font-weight: 100;
    color: #FFF;
    text-align: center;
    background: url("http://static0.twilio.com/packages/twilio-conference/img/twilio-logo-2012-header.png") no-repeat 148px center;
}

#content {
    width: 960px;
    height: 250px;
    margin: 0 auto;
    padding: 90px 0 0 0;
}

#content .section-heading {
    margin: -15px 0 10px 0;
    font-family: 'Helvetica',sans-serif;
    font-size: 38px;
    font-weight: 100;
    color: #7C0000;
    text-align: center;
}

#content .blurb {
    line-height: 1.2em;
    margin: 5px 0 20px 85px;
    font-family: 'Helvetica',sans-serif;
    font-size: 17px;
    font-weight: 100;
    color: #DDD;
}

#url_list {
    margin: 10px 0 20px 85px;
}

#url_list dt, #url_list li {
    line-height: 1.2em;
    margin: 0px;
    font-family: 'Helvetica',sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #DDD;
}

#url_list dd, #content a {
    font-family: 'Helvetica',sans-serif;
    font-weight: 100;
    color: #7C0000;
}

#url_list a {
    font-size: 18px;
    margin: 3px 0 5px 30px;
}

#content a:hover {
    color: #FFF;
}

#content a {
    text-decoration: none;
}

#content label {
    font-size: 14px;
    font-weight: 60;
    text-align: left;
    padding: 5px 0 5px 0;
}

#number {
    width: 193px;
    font-size: 18px;
    font-weight: 60;
    text-align: left;
    padding: 5px 0 5px 3px;
    margin-bottom: 5px;
}

#number input {
    border: 2px solid #454545;
}

#number input:hover, #number input:focus {
    border: 2px solid #efefef;
}

.button {
    width: 200px;
    font-size: 26px;
    font-weight: 100;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #454545;
    background-color: #EFEFEF;
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#cccccc));
    background: -moz-linear-gradient(top, #efefef, #cccccc);
    border-top: 2px solid #FFF;
    border-bottom: 1px solid #555;
    border-left: 0px;
    border-right: 0px;
    display: block;
}


.button:hover {
    color: #222;
    background-color: #FFF;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dddddd));
    background: -moz-linear-gradient(top, white, #dddddd);
    border-top: 2px solid #FFF;
}

.button:active {
    color: #222;
    background-color: #FFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#efefef));
    background: -moz-linear-gradient(top, #cccccc, #efefef);
    border-top: 2px solid #888;
    border-bottom: 1px solid #FFF;
}

#call-controls {
    margin: 0 90px 0 0;
    float: right;
}

.footer {
    width: 960px;
    margin: 200px auto;
    text-align: center;
    color: #7C0000;
}

.footer a {
    text-decoration: none;
    color: #7C0000;
}

.footer a:hover {
    color: #FFF;
}

#bostonstrong {
    background: url('/static/images/boston_strong.png');
    display: block;
    width: 362px;
    height: 362px;
    margin: 0 auto;
}
